.nav{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(156, 220, 169);
}

.links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0px 20px;
}

/* @media screen and (max-width: 800px){
    .nav{
        flex-direction: column;
    }
    .links{
        display: none;
    }

    .links>a{
        margin-top: 1rem
    }
}  */